body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__serif;
	@include font-size(.9);
	line-height: $font__line-height-body;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	
	@media screen and (min-width: 600px) {
		@include font-size(1);
	}
}



@import "headings";

@import "copy";