.site-footer {
	padding: 2em;
	font-family: $font__sans;
	color: white;
	text-align: center;
	background: $color__interactive;
	
	a {
		color: white;
		font-weight: 600;
		text-decoration: none;
		
		&:hover,
		&:focus {
			border-bottom: 3px solid white;
		}
	}
}