.header-image {
	max-height: 60vh;
	overflow: hidden;
	
	img {
		display: block;
		width: 100vw;
		
	}
}

.site-header {
	position: relative;
	padding: 1em;
	font-family: $font__sans;
	color: #fff;
	background: $color__skin;
	
	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.site-branding {
	float: left;
	min-height: 65px;
	
	@media screen and (min-width: $query__small) {
		display: flex;
	}
}

.custom-logo-link {
	float: left;
	
	&:focus,
	&:hover {
		
		&>img {
			outline: 1px solid white;
		}
	}
	img {
		display: block;
		margin-right: 1em;
		height: 65px;
		width: auto;
		max-width: inherit;
	}
}

.site-branding__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.site-title {
	margin: 0 0 0 1em;
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1em;
	-webkit-font-smoothing: auto;
	font-smoothing: auto;

	a {
		color: #fff;
		text-decoration: none;
	}

	:hover,
	:focus {
		text-decoration: underline;
	}
}

.site-title {
	margin: 0;
	padding: 0;
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
	
	@media screen and (min-width: $query__small) {
		display: block;
	}
}

@media screen and (min-width: $query__medium) {
	.site-header {
		display: flex;
		justify-content: space-between;
	}
	
	.site-branding {
		float: left;
		width: 35%;
	}

	.main-navigation {
		float: right;
		width: 55%;
		
	}
}