.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: $font__sans;
/*	padding-bottom: 1.3em;
	border-bottom: 1px solid hsl(0, 0%, 85%);*/
}

.cat-links {
	font-size: 90%;
	font-weight: 700;
	
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: $color__interactive;
		
		&:focus,
		&:hover {
			/*border-bottom: 3px solid $color__interactive;*/
			background-color: $color__interactive;
			color: white;
		}
	}
}

.entry-title {
	margin: .125em 0 .25em;
	font-size: 2.5em;
	font-weight: 900;
	line-height: 1em;
	
	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}
	
	a {
		text-decoration: none;
		
		&:hover,
		&:focus {
			border-bottom: 5px solid $color__interactive;
		}
	}
}

.entry-meta,
.entry-footer {
	
	font-size: 95%;
	color: hsl(0, 0%, 40%);
	
	a {
		font-weight: 600;
		text-decoration: none;
		color: hsl(0, 0%, 40%);
		
		&:focus,
		&:hover {
			color: black;
			border-bottom: 3px solid $color__interactive;
		}
	}
	
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.comments-link,
.edit-link {
	&::before {
		content: "|";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}


/* Featured Images */

.full-bleed {
	width: 100vw;
	max-height: 1200px;
	margin-top: 1em;
	margin-left: -1em;
	border-top: 1px solid hsl(0, 0%, 90%);
	border-bottom: 1px solid hsl(0, 0%, 90%);
	overflow: hidden;
	
	@media screen and (min-width: $query__small) {
		margin-left: -2em;
	}
	
	@media screen and (min-width: $query__medium) {
		margin-top: 1.5em;
		margin-right: -2em;
	}
	
	@media screen and (min-width: $size__max-width) {
		margin-right: calc( ((-100vw + #{$size__max-width})/2) - 2em );
		margin-left: calc( ((-100vw + #{$size__max-width})/2) - 2em );
	}
	img {
		display: block;
		margin: 0 auto;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	margin: 1.5em 0;
	font-family: $font__sans;
}